/* html, header, h1, form{
  border:2px solid black;
}
*/

body, html{
  overflow-x:hidden;
  overflow-y:scroll;
  scroll-behavior: smooth;
}


header{
  /*vertical-align: middle;
  padding:20px; */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height: 240px;
  width:50%
}
/* 가계부 생성 페이지 header */
header.mainheader{
  background-color: blue;
  text-align :center;
}

h1.logo, form[type=id], form[type=password]{
  height:auto;
  text-align:center;
  font-size:30px;
}

a{
  text-decoration: none;
  color:black;
}

div.makeOrFind{
  margin-top:30px;
  margin-left:20px;


}


form[name="makeMoneyBook"]{
  margin:20px;
  float:left;
}


input[name="moneyBookName"], input[name="moneyBookDate"], input[name="thumbnailImg"]{
  height:20px;
}
input[name="moneyBookDescription"]{
  height:100px;
}

input[type=id], input[type=password]{
  border: 2px solid black;
  border-radius:4px;

}

button.createMoneyBook{
  width:100px;
  height:90px;
  margin:50px;
  border-radius:10px;
  background-image:url("createMoneyBook.png");
  background-size:cover;
  padding:auto;

}
