/* html, header, h1, form{
border:2px solid black;
}
*/

body, html{
  margin:0;
  overflow-x:hidden;
  overflow-y:auto;
  scroll-behavior: smooth;
  width:100%;
  height:100%;
  background-color:#ff9999;
}
div{
  overflow-y:auto;
}
div.selectChannel{
  margin-top:20px;
}

div.mywallet{
  margin-top:30px;
  max-width:500px;
}
img.walletimg{
  width:100%;
  height:auto;
}
img.card{
  width:100%;
  height:auto;
}

.login{
  /*vertical-align: middle;
  padding:20px; */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:100%;
  background-color:#ff9999;
}
.alignment{

}

/* 가계부 생성 페이지 header   #49205E */
header.myMB{
  background-color: #295F89;
  height:60px;
  text-align :center;
}

.Question{
  font-size:20px;
  color:white;

}

.button : hover{
  background-color: #008080;

}
.appname{
  text-align:center;
  font-size:20px;
  top:50%;
  margin-top:200px;
}
, form[type=login]{
  height:auto;
  text-align:center;
  font-size:20px;
}
.logo{
  text-align:center;
}
.menubar{
  margin-top:20px;
}

.logoimage{
  width:200px;
  height:auto;
  position:absolute;
  left:50%;
  top:35%;
  margin: -100px 0 0 -100px;
}

.greenbuttons{
  background-color:#008080;
  border-radius:10px;
  border:none;
  padding:5px;
  width:100px;
  color:white;
  text-align:center;
  font-size:15px;
}

.greenbuttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a{
  text-decoration: none;
  color:black;
}




form[name="makeMoneyBook"]{
  margin:20px;
  float:left;
}


input[name="moneyBookName"], input[name="moneyBookDate"], input[name="thumbnailImg"]{
  height:20px;
}
input[name="moneyBookDescription"]{
  height:100px;
}

input[type=id], input[type=password]{
  border: 2px solid black;
  border-radius:10px;
  text-align:center;
}

input[type="button"]{
  border-radius:5px;
}
button[type="register"]{
  border-radius:5px;
}

button.createMoneyBook{
  width:30%;
  height:90px;
  margin:20px;
  border-radius:10px;
  border:none;
  background-size:cover;
  padding:auto;
  max-width:100px;
  min-width:100px;
  align-items:center;
}


img.addMB{
  width:100%;
  height:100%;
}

/*
img.mywallet{
width:90%;
height:auto;
max-width:400px;
vertical-align:middle;
margin:auto;
margin-left:5%;
display:block;
position:absolute;
}
*/

div.mywallet{
  vertical-align:middle;
  margin:auto;
  display:block;
  padding-bottom:70px;
  width:80%;
  max-width:500px;
  margin-top:20px;
  border-radius:10px;
  overflow:hidden;
  position:relative;
  min-height:250px;
  max-height:500px;
  padding:15px 0px;

}

div.mywalletinner{
  vertical-align:middle;
  margin:auto;
  display:block;
  width:90%;
  min-height:250px;
  border-radius:10px;

  position:relative;
}

/* div의 padding의 maximum을 설정하는 방법은 없나?*/

.addcard{
  width:60%;
  max-width:150px;
  height:10%;
  padding:4%;
  margin-left:22%;
  margin-top:5%;
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
  display:block;
  border-bottom-width: thick;
}

.addmoney{
  position:absolute;
  width:5%;
  height:95%;
  top:5px;
  left:45%;
  background-color:green;
  border:none;
}

.earning, .spending{
  border-radius:100%;
  width:70px;
  height:70px;
  margin-top:5px;
  display:inline-block;
}
.containingbutton{
  margin:auto;
  display:block;
  margin-top:5px;
  margin-bottom:20px;

}
.earning{
  display:block;
  margin:auto;
}
.spending{
  background-color:red;
}

.summary{
  border:2px solid black;
  position:absolute;
  width:80%;
  height:60%;
  margin:10px;
  padding:10px;
}
.pocket{
  width:85%;
  height:25%;
  float:right;
  margin-left:25%;
  position:relative;
  top:190px;
  background-color:brown;
}
.contents{
  position:absolute;
  width:50%;
  height:90%;
  top:10%;
  left:50%;
  margin:10px;

}
.buttons{
  position:absolute;
  width:50%;
  height:100%;
  top:30px;
  left:0%;

}
ul.menu{list-style:none; text-align:center;}
ul.menu li{display:inline-block;
  text-align:center;
  margin:10px;}

  a{
    text-decoration:none;
    color:white;
  }
  a:hover{
    text-decoration:underline;
  }



  .addMoneyBook{
    width:80%;
    height:30%;
    margin-bottom:30px;
  }




  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius:20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .modal_card{
    position: relative;
    margin: auto;
    padding: 0;
    border-radius:20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close1 {
    color: white;
    float: right;
    margin-right:10px;
    font-size: 20px;
    font-weight: bold;
  }

  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 10px 1px 10px;
    border-radius:10px 10px 0px 0px;
    background-color: skyblue;
    color: white;
    text-align:center;
  }

  .modal-body {
    padding: 10px 10px;
    align-items: center;
    text-align:center;
  }

  input[type="text"], input[type="date"]{
    border-radius:5px;
    margin:3px;
  }

  .modal_card_body{
    position:absolute;
    top:30%;
    background-size:cover;
    align-items:center;
    margin-left:10%;

  }

  img.cc{
    width:80%;
    height:100%;
  }
  .modal_card{
    overflow-y:hidden;
    width:80%;
    max-width:300px;
    height:auto;
    margin:auto;
  }

  .memobutton{
    border:none;
    border-radius:5px;
    width:100px;
    height:100px;
    margin: 30px;
    background-color:white;
  }

  #memobox{
    overflow-y: auto;
    overflow-x:hidden;
    border: 2px solid black;
    width: 40%;
    height: auto;
  }

  .memotext{

  }

  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }

  /* Remove margins and padding from the list */
  ul.cl {
    margin: 0;
    padding: 0;
  }

  /* Style the list items */
  ul.cl li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 15px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Set all odd list items to a different color (zebra-stripes) */
  ul.cl li:nth-child(odd) {
    background: #f9f9f9;
  }

  /* Darker background-color on hover */
  ul.cl li:hover {
    background: #ddd;
  }

  /* When clicked on, add a background color and strike out text */
  ul.cl li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  /* Add a "checked" mark when clicked on */
  ul.cl li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }

  /* Style the header */
  .header {
    background-color:#008080;
    padding: 10px 10px;
    color: white;
    overflow-x: hidden;
  }

  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the input */
  input[id="myInput"] {
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 12px;
  }

  /* Style the "Add" button */
  .addBtn {
    border-radius: 5px;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
  }

  .addBtn:hover, .memoBtn:hover {
    background-color: #bbb;
  }

  textarea[id="memoArea"]{
    width: 100%;
    height: 50%;
    float: left;
    padding: 10px;
  }



  .memoBtn{
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
  }
